body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p{
  line-height: 2;
}

hr
{
  border-style: dotted none none;
  width: 5%;
  border-color: grey;
  border-width: 7px;
  margin: 100px auto;
}

.top-container {
  background-color: #7EFFDB;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  margin: 100px 0;
}

a
{
  color: #696969;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover
{
  color: white;
}

.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0px 20px;
  margin-top: 30px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family:'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 8px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

.para {
  font-size: 2.5rem;
  margin: 0px;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.pro:hover {
  color: red;
}

.profile
{
  width: 40%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.chess
{
  width: 25%;
  float: left;
  margin: 30px;
}

.karate
{
  width: 25%;
  float: right;
  margin: 30px;
}

.contact-message
{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright
{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}
